{% extends "base.jinja" %}

{% block content %}
   {{ super() }}
    <div class="jumbotron">
         <h1>Bem vindo ao Macas Stonks</h1>
         <p>O objetivo é rankear ações pela fórmula de Joel Greenblatt.</p>
         <p>Futuramente poderemos verificar se o preço de determinada ação está 
            descontada em relação ao seu valor intrinseco:</p>
         <ul> 
            <li>Valuation por fluxo de caixa descontado</li>
            <li>Fórmula de Benjamin Graham</li>
            <li>Modelo de Gordon</li>
         </ul> 
    </div>
{% endblock %}